h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
}

.error-message {
  color: $negative;
}

.success-message {
  color: $positive;
}

.loader {
  fill: $secondary;
  height: 24px;
}

.map-cluster {
  background-color: $secondary;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  > span {
    color: $onSecondary;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
  }
}

.google-autocomplete {
  position: relative;
  .autocomplete-results {
    position: absolute;
    background-color: $onBackgroundDarker;
    border-radius: 16px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    transform: translateY(8px);
    .autocomplete-item {
      padding: 8px;
      cursor: default;
      width: 100%;
      color: #6E7191;
      background-color: 'transparent';
    }
    .autocomplete-item:hover,
    .autocomplete-item-active,
    .autocomplete-item:focus {
      background-color: rgba(102, 146, 230, 0.33);
      color: #000000;
    }
  }
}

.animal-avatar {
  height: 68px;
  width: 68px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 100ms;
  &:hover{
    transform: scale(1.1);
    span {
      opacity: 1;
    }
  }
  .img-wrap {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    overflow: hidden;
    img, svg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  span {
    opacity: 0;
    position: absolute;
    bottom: -24px;
    color: $secondary;
  }
}

.input-primary,
.input-primary-active {
  min-width: 320px;
  border-radius: 16px;
  background-color: $onBackgroundDarker;
  // overflow: hidden;
  padding: 0 24px;
  height: 64px;
  border: 2px solid transparent;
  cursor: text;
  &:hover {
    background-color: transparent;
    border: 2px solid rgba($secondary, 0.5);
  }
  &:hover .input-wrap .label {
    color: rgba($onBackground, 0.5);
  }
  .input-wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.75px;
    }
    input {
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.75px;
      background-color: transparent;
    }
    input:focus {
      background-color: transparent;
    }
  }
}

.input-primary-active {
  border: 2px solid $secondary;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    border: 2px solid $secondary;
  }
  &:hover .input-wrap .label {
    color: $onBackground;
  }
}

.input-secondary,
.input-secondary-active {
  min-width: 320px;
  .label {
    display: block;
    margin: 0 0 8px 12px;
    > span {
      color: $negative;
      margin-right: 8px;
    }
  }
  .input-wrap,
  .text-area-wrap {
    cursor: text;
    border-radius: 16px;
    overflow: hidden;
    background-color: $onBackgroundDarker;
    padding: 0 24px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid rgba($secondary, 0.5);
    }
    input {
      outline: none;
      border: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.75px;
      background-color: transparent;
    }
  }
}

.input-secondary-active {
  .input-wrap,
  .text-area-wrap {
    border: 2px solid $secondary;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border: 2px solid $secondary;
    }
    &:hover .input-wrap .label {
      color: $onBackground;
    }
  }
}

.text-area-secondary,
.text-area-secondary-active {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  .label {
    display: block;
    margin: 0 0 8px 12px;
  }
  textarea {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    min-width: 100%;
    min-height: 184px;
    max-height: 306px;
    background-color: $onBackgroundDarker;
    border: 2px solid transparent;
    border-radius: 16px;
    outline: none;
    padding: 12px 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    margin: 0px;
    &:hover {
      border: 2px solid rgba($secondary, 0.5);
    }
  }
  textarea::-webkit-resizer {
    // border: 2px solid black;
    // background: red;
    // outline: 2px solid yellow;
    height: 56px;
    width: 56px;
  }
}

.text-area-secondary-active {
  textarea {
    border: 2px solid $secondary;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border: 2px solid $secondary;
    }
  }
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;
  color: $onSecondary;
  height: 64px;

  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;

  border-radius: 16px;
  &:hover {
    background: rgba($color: $secondary, $alpha: 0.8);
  }
}

.button-secondary,
.button-secondary-loading {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  height: 48px;

  border: 2px solid $secondary;

  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;

  transition: all 150ms;

  border-radius: 32px;
  &:hover {
    border: 2px solid rgba($color: $secondary, $alpha: 0.5);
    color: rgba($color: $secondary, $alpha: 0.5);
  }
  .loader {
    height: 12px;
  }
}

.button-secondary-loading {
  cursor: default;
  border: 2px solid rgba($color: $secondary, $alpha: 0.5);
  &:hover {
    // border: 2px solid $secondary;
    color: $secondary;
  }
}

.hover-dropdown {
  position: absolute;
  background-color: $onBackgroundDarker;
  padding: 16px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: -50%;
  .option {
    font-size: 16px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.75px;
    color: $onBackground;
    margin: 0;
    padding: 0;
  }
}

.select {
  .label {
    display: block;
    margin: 0 0 8px 12px;
    > span {
      color: $negative;
      margin-right: 8px;
    }
  }
  [class$='-container'] {
    [class$='-control']:hover {
      border-color: rgba($secondary, 0.5);
    }
    [class$='-control']:focus {
      border-color: rgba($secondary, 1);
    }
  }
  // [class$="-container"]:hover{
  // }
}
