$primaryGradient: linear-gradient(109.85deg, #624af2 -23.86%, #82cbff 63.26%);
$onPrimaryGradient: #ffffff;

$secondaryGradient: radial-gradient(
  100% 4284.3% at 0% 100%,
  rgba(108, 112, 246, 0) 0%,
  rgba(130, 203, 255, 0.65) 100%
);
$onSecondaryGradient: #4e4b66;

$background: #ffffff;
$backgroundDark: #FCFCFC;

$backgroundDarkBorder: #EFF0F6;

$onBackgroundLight: #A0A3BD;
$onBackground: #14142b;
$onBackgroundDarker: #eff0f7;
$secondary: #5f2eea;
$onSecondary: #ffffff;

$negative: tomato;
$positive: lightseagreen;

$appWidth: 1280px;