header {
  height: 10vh;
  background: $primaryGradient;
  .header-wrap {
    height: 100%;
    padding: 0 3%;
    margin: 0 auto;
    max-width: $appWidth;
    display: flex;
    align-items: center;
    .logo {
      border: none;
      background: none;
      color: $onPrimaryGradient;
      font-weight: bold;
      font-size: 4vh;
      letter-spacing: 1px;
      &:hover {
        text-decoration: underline;
      }
    }
    nav {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      button {
        background: none;
        border: none;
        color: $onPrimaryGradient;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        &:hover {
          text-decoration: underline;
        }
      }
      > button:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
}

.signin-form,
.signup-form {
  background-color: rgba(0, 0, 0, 0.15);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .container {
    background-color: $background;
    padding: 72px; // ? hardcoded
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    [class^='input-primary'] {
      margin-top: 32px;
    }
    .button-primary {
      margin-top: 32px;
    }
    .error-message,
    .success-message {
      margin-top: 24px;
      max-width: 320px;
      text-align: center;
    }
    .option {
      justify-content: space-between;
      margin-top: 32px;
      display: flex;
      align-items: center;
      .button-secondary {
        padding: 0 12px;
        height: 28px;
        font-size: 14px;
      }
    }
  }
}

.profile-details {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.profile,
.personal-animal-list {
  flex: 1;
  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
}

.personal-animal-list {
  .animal-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 24px 0;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  .cell {
    display: flex;
    align-items: center;
    .label,
    .value,
    .edit-input {
      display: flex;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: 1px;
    }
    .label {
      flex: 1;
      font-weight: bold;
    }
    .value,
    .edit-input {
      border: 1px solid transparent;
      margin-left: 18px;
      padding: 0 6px;
    }
    .edit-input {
      border: 1px solid $secondary;
      border-radius: 8px;
    }
  }
  .cell:not(:first-child) {
    margin-top: 16px;
  }
  .cell:last-child {
    justify-content: space-evenly;
    margin-top: 16px;
  }
}

.profile-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 10%;
}

.animal-creation-form {
  display: flex;
  margin-top: 5%;
  .left,
  .right {
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }
  .left {
    .select:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .right {
    > [class^='input-'],
    [class^='text-area-'] {
      margin-bottom: 24px;
    }
    .button-submit {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 24px;
    }
  }
}

.animal-details {
  display: flex;
  flex-grow: 1;
  margin: 5% 0;
  justify-content: space-between;
  flex-direction: column;
  .top {
    max-width: $appWidth;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 0 5%;
    .left {
      min-width: 320px;
      > .button-secondary {
        margin-bottom: 12px;
      }
      h1 {
        > span {
          color: $secondary;
        }
      }
      .description {
        margin-top: 16px;
      }
    }
    .right {
      display: flex;
      flex-grow: 1;
      height: 20vw;
      white-space: nowrap;
      margin-left: 5%;
      overflow-y: hidden;
      > .button-secondary {
        margin-right: 24px;
      }
      .animal-photos {
        overflow-y: hidden;
        display: block;
        width: 100%;
        height: 100%;
        .image-item {
          display: inline-block;
          height: 20vw;
          width: 20vw;
          overflow: hidden;
          border: 2px solid $backgroundDarkBorder;
          border-radius: 16px;
          > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .image-item:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  .bot {
    padding: 36px 5%;
    margin-top: 64px;
    display: flex;
    background: $secondaryGradient;
    color: $onSecondaryGradient;
    .bot-wrap {
      max-width: $appWidth;
      display: flex;
      margin: 0 auto;
      width: 100%;
      .left {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 24px 0;
        .box-cell {
          display: flex;
          flex-direction: column;
          .label {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.75px;
          }
          .value {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;

            letter-spacing: 0.75px;
          }
        }
      }
      .right {
        .title {
          display: flex;
          align-items: center;
          flex-direction: row;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 34px;

          letter-spacing: 1px;
          margin-bottom: 12px;
          > svg {
            margin-left: 8px;
          }
        }
        .cell {
          display: flex;
          .label,
          .value {
            display: flex;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 1px;
          }
          .label {
            font-weight: bold;
          }
          .value {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

.map-view {
  display: flex;
  flex: 1;
  .animal-list,
  .filter-list {
    overflow-y: scroll;
    // flex: 0.3;
    width: 360px;
    padding: 12px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    .select {
      margin-bottom: 16px;
    }
    .options {
      display: flex;
      justify-content: space-between;
    }
  }
  .animal-list {
    > .button-secondary {
      margin-bottom: 16px;
    }
    .animal-list-item {
      height: 15vh;
      background-color: black;
      width: 100%;
      margin-bottom: 36px;
      .animal-avatar {
        height: 100%;
        width: 100%;
        > div {
          border-radius: 0;
        }
        &:hover {
          transform: scale(1.03);
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}

.upload-images-form {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 36px;
  .image-item,
  .upload-cell,
  .upload-cell-uploading {
    display: flex;
    width: 100%;
    height: 24vh;
  }
  .image-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .options {
      position: absolute;
      bottom: -32px;
      display: flex;
      justify-content: center;
      width: 100%;
      > svg {
        cursor: pointer;
        margin: 0 16px;
        transition: all 150ms;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .image-container {
      position: relative;
      border-radius: 16px;
      border: 2px solid $backgroundDarkBorder;
      box-sizing: border-box;
      overflow: hidden;
      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .upload-cell,
  .upload-cell-uploading {
    > input {
      display: none;
    }
    > label {
      flex: 1;
      background-color: $backgroundDark;
      border: 2px solid $backgroundDarkBorder;
      border-radius: 16px;
      box-sizing: border-box;
      padding: 16px;
      position: relative;
      cursor: pointer;
      transition: all 100ms;
      .title {
        color: $onBackgroundLight;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
      }
      .status {
        user-select: none;
        color: $onBackgroundLight;
        font-size: 48px;
        line-height: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .upload-cell > label:hover {
    border: 2px solid $secondary;
    .status,
    .title {
      color: $secondary;
    }
  }
  .upload-cell-uploading {
    > label {
      cursor: default;
      .status {
        color: $secondary;
      }
    }
  }
}
