@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'constants.scss';
@import 'common.scss';
@import 'components.scss';
@import 'containers.scss';
@import 'pages.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $background;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: $onBackground;
}

button,
img,
svg {
  user-select: none;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

section {
  max-width: $appWidth;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  .loader-wrap {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.not-authorized-page,
.not-found-page,
.not-allowed-page,
.home-page {
  justify-content: center;
  align-items: center;
  > svg {
    height: 25%;
    width: 25%;
  }
}
.animal-details-page {
  max-width: none;
}

.animal-list-page {
  max-width: none;
}

.animal-upload-images {
  > .button-secondary {
    position: fixed;
    bottom: 10%;
    right: 10%;
  }
}